@charset "utf-8";
/* CSS Document */
#info {
	background:#041057;
	color:#fff;
	text-align:center;
	padding:20px;	
	}
	
#info .contenedor{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	}
	
.info-k1 {
	width:180px;
	height:180px;
	border-radius:50%;
	border:7px solid #fff;
	background-size: 100% 100%;
	animation: info-k1 10s infinite;
	animation-direction:alternate;
	margin-right:15px;
	}
	
.info-k2 {
	width:180px;
	height:180px;
	border-radius:50%;
	border:7px solid #fff;
	background-size: 100% 100%;
	animation: info-k2 10s infinite;
	animation-direction:alternate;
	}

.info-k3 {
	width:180px;
	height:180px;
	border-radius:50%;
	border:7px solid #fff;
	background-size: 100% 100%;
	animation: info-k3 10s infinite;
	animation-direction:alternate;
	margin-left:15px;
	}
	
.info-k4 {
	width:180px;
	height:180px;
	border-radius:50%;
	border:7px solid #fff;
	background-size: 100% 100%;
	animation: info-k4 10s infinite;
	animation-direction:alternate;
	margin-left:15px;
	}
	
@keyframes info-k1 {
	0%, 30% {
		background-image:url(../img/nov1.jpg);
		opacity: 1;
		}
		
	31%, 34% {
		opacity: 0.1;		
		}
		
	35%, 65% {
		background-image: url(../img/nov2.jpg);
		opacity: 1;		
		}
		
	36%, 69% {
		opacity: 0.1;		
		}
		
	70%, 100% {
		background-image: url(../img/nov3.jpg);
		opacity: 1;		
		}		
}
@keyframes info-k2 {
	0%, 30% {
		background-image: url(../img/nov4.jpg);
		opacity: 1;
		}
		
	31%, 34% {
		opacity: 0.1;		
		}
		
	35%, 65% {
		background-image: url(../img/nov5.jpg);
		opacity: 1;		
		}
		
	36%, 69% {
		opacity: 0.1;		
		}
		
	70%, 100% {
		background-image: url(../img/nov6.jpg);
		opacity: 1;		
		}		
}
@keyframes info-k3 {
	0%, 30% {
		background-image: url(../img/nov7.jpg);
		opacity: 1;
		}
		
	31%, 34% {
		opacity: 0.1;		
		}
		
	35%, 65% {
		background-image: url(../img/nov8.jpg);
		opacity: 1;		
		}
		
	36%, 69% {
		opacity: 0.1;		
		}
		
	70%, 100% {
		background-image: url(../img/nov9.jpg);
		opacity: 1;		
		}		
}
@keyframes info-k4 {
	0%, 30% {
		background-image: url(../img/nov10.jpg);
		opacity: 1;
		}
		
	31%, 34% {
		opacity: 0.1;		
		}
		
	35%, 65% {
		background-image: url(../img/nov11.jpg);
		opacity: 1;		
		}
		
	36%, 69% {
		opacity: 0.1;		
		}
		
	70%, 100% {
		background-image: url(../img/nov12.jpg);
		opacity: 1;		
		}		
}
	
@media (min-width:480px){
	.info-k {
		width:40%;
		}
		}
		
@media (min-width:1024px){
	.info-k {
		width:auto;
		}
		}