.navbar {
    background-color: #000d21;
    padding-bottom: 10px; 
    padding-top: 10px;
    text-decoration: #ffffff;
    font-family: 'Comfortaa', cursive;
}
#spaceBackAdd {
    margin-top: 80px;
}
#back {
    color: #003d94;
}
#back:hover {
    color: #000d21;
    transition: 3s;
}
#addPoint {
    color: #003d94;
}
#addPoint label {
    font-family: 'Comfortaa', cursive;
}
#addPoint:hover {
    color: #000d21;
    transition: 3s;
}
footer {
    background-color: #000d21;
    text-decoration: #ffffff;
    font-family: 'Comfortaa', cursive;
    padding-bottom: 30px; 
    padding-top: 30px;
}
#derechos {
    margin-top: 20px;
}
#copy {
    margin-top: 30px;;
}
.copy{
    color: white;
    text-align: center;
   
}
.copy a p{
    color: white;
}
th {
    background-color: #000000;
    text-decoration: #ffffff;
}
#table {
    margin-top: 25px;
    font-family: 'Comfortaa', cursive;
}
th {
    background-color: #000000;
    text-decoration: #ffffff;
}